* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

button {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    height: 100vh
}